* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.contenedor {

    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 5%;
    border: 0px solid black;

}

.contenedor .cuadrado {

    border: 1px solid black;
    width: 100%;
    height: 200px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;

}

.contenedor .cuadrado p {

    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(0%) translateY(500%);

}

@media only screen and (max-width:968px){
    .contenedor{
        flex-wrap: wrap;
    }
    .cuadrado{
        margin: 15px;
    }
}
